* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    height: 100%;
    width: 100%;
}

#header {
    margin: 30px auto;
}

#libraryTitle {
    font-size: 3rem;
}

#bookListContainer {
    width: 760px;
}

#bookListTable {
    border-spacing: 0;
    width: 100%;
}

th {
    text-align: left;
}

